@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  width: 320px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 8px 8px 0 black;
}

.card-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.badge {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 0.75rem;
  padding: 6px 12px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.published {
  font-size: 0.75rem;
  margin: 12px 0;
}

.title {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 12px;
  cursor: pointer;
}

.title:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 0.9rem;
  color: hsl(0, 0%, 50%);
  margin-bottom: 16px;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
  height: 32px;
}

.author span {
  font-weight: 800;
  font-size: 0.85rem;
}
